@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: inherit;
}

.container {
  max-width: 1250px;
}

.Dcontainer {
  width: 1240px;
  height: 312px;
}

.Navbar {
  background-color: rgb(76, 51, 152);
}

.Navbar .priority {
  background-color: #5d3ebc;
}

.Navbar .rounded-t-md:hover {
  background-color: #5d3ebc;
}

.Navbar img:not(.priorityImg) {
  filter: brightness(0) invert(1);
  opacity: 0.8;
}

.navIcon a {
  color: rgb(219, 219, 255);
  font-size: 14px;
}

.Download .Dcontainer {
  background-color: rgb(93, 62, 188);
}

.bgcarousel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, transparent 0%, rgb(93, 62, 188) 100%);
  z-index: 1;
}

.select-flag button {
  border: 2px solid gainsboro;
}

.select-flag button:focus {
  border: 2px solid rgb(76, 51, 152);
}

.select-flag ul {
  z-index: 10;
}

@media (max-width: 768px) {
  .bgcarousel::before {
    display: none;
    background: none;
  }
}
